<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
            {{ renderData.title or title or metadata.title}}
        </title>
        <meta name="Description" content=""/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <body>
        <header>
            <h1>
                <a href="/">{{ metadata.title }}</a>
            </h1>
            <div>
                {%- for nav in collections.nav -%}
                    <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a><br/>
                {%- endfor -%}
            </div>
            <div>
                <p>instagram</p>
                <p>facebook</p>
            </div>
        </header>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>