---
title: FAQ
layout: layouts/base.njk
tags:
  - nav
navtitle: Questions?
date: 2000-01-03
---

<h2>What are the ingredients?</h2>
<p>VacProtecta is a Homeopathic product. There are no ingredients as such, everything is included homeopathically by our professional homeopath. </p>
<p>We send the round pill version of homeopathic tablets that melt in your dogs mouth. </p>
<p>After product purchase you will be asked to fill in a basic form which allows us to know which Homeopathic preparation to create for your dog individually.  </p>
<p>This is not Thuja, it is tailored specifically to the up-coming vaccine and your pet individually. </p>

<h2>How does Vacprotecta work?</h2>
<p>Vacproteca is aimed at preparing the dog’s body for the vaccine and the vaccine chemistry that will soon enter their body. </p>
<p>Homeopathy works on what is known as an energetic level, it is well-known worldwide to transform peoples health and lives. The UK Royal family, with all the access to health care they have, are huge fans of it! </p>
<p>Vacprotecta is not a nosode, nor is it the homeopathic preparation Thuja. </p>

<h2>Delivery Details</h2>
<p>We post worldwide. 
We aim to have the product with you within a week. If you need it sooner you will be able to liaise with us directly after you purchase. Be aware we recommend giving the product around two weeks prior to a vaccine for best results.</p>

<h2>Can I order the Multi-Product and save some for a different year?</h2>
<p>We do not recommend this as we cannot guarantee the products shelf-life, it is functional for a few months if the guidance sheet included in the pack is followed.</p>