---
title: Shop
layout: layouts/base.njk
tags:
  - nav
navtitle: Shop
date: 2000-01-02
---
<h2>Our Products</h2>
<p>Specifically chosen to support your naturally cared for dog, should they need to have a vaccination.</p>
<p>VacProtecta are the only pre-vaccination products currently available.</p>
<p>Veterinary Supported.</p>
<p>Created in a Professional Homeopathic Clinic and Laboratory.</p>

<h3>
  <a href="/products/single">Single VacProtecta</a>
</h3>
<p>30.00</p>
<h3>
  <a href="/products/multi">Multi VacProtecta</a>
</h3>
<p>39.00</p>
<h3>
  <a href="/products/post">Post Vaccine Supporta</a>
</h3>
<p>70.00</p>
<h3>
  <a href="/products/gift">Gift Card</a>
</h3>
<p>from 25</p>