---
title: Story
layout: layouts/base.njk
tags:
  - nav
navtitle: Our Story
date: 2000-01-02
---
<h2>Our Story</h2>
<p>We understand.
Our product was born from the need for something that supported one of our own dogs as she travelled across the world.
Already a natural pet parent to Foosa we were pleased only the Rabies vaccine was legally needed for her travel, but very aware that Vaccinosis can always possibly occur.
After a discussion that surely a pre-vaccine product could be made available this very specific product was developed utilising both our qualified natural pet care knowledge and professional ability.
We are happy to say that using Vacprotecta little Foosa was vaccinated, and travelled with no ill effect :)
</p>
<p>Today we are proud to offer this useful, much-needed product, uniquely created to the individual vaccine your dog needs to have.
We are happy that Holistic Vets love our product, and can see this isn’t something even they could create quickly. Much love and research went into getting it just right.
Ultimately we just want to change your dogs life for the better.
</p>
<p>Whether its a Vaccine for Travel, for Kennel care, Competition or other unavoidable circumstance we have the product to support your dog and bring you peace fo mind.
</p>
<p>with Gratitude
Zofit & Caroline
</p>