---
title: Home
layout: layouts/base.njk
tags:
navtitle: Home
date: 2000-01-01
---
<img src="/assets/img/marius-cern-zwLbYhSKj_0-unsplash.jpg" alt="" srcset="">
<h2>Support Your Dog</h2>
<h2>at times of Vaccination</h2>
<button>Shop Now</button>
<img src="/assets/img/gia-oris-g2FU2UuCcB0-unsplash.jpg" alt="" srcset="">
<h2>Our Products</h2>
<p>Specifically chosen to support your naturally cared for dog, should they need to have a vaccination.</p>
<p>VacProtecta are the only pre-vaccination products currently available.</p>
<p>Veterinary Supported.</p>
<p>Created in a Professional Homeopathic Clinic and Laboratory.</p>
<h3>
    <a href="/products/single">Single VacProtecta</a>
</h3>
<p>30.00</p>
<h3>
    <a href="/products/multi">Multi VacProtecta</a>
</h3>
<p>39.00</p>
<h3>
    <a href="/products/post">Post Vaccine Supporta</a>
</h3>
<p>70.00</p>
<img src="/assets/img/richard-brutyo-Sg3XwuEpybU-unsplash.jpg" alt="" srcset="">
<h2>Questions</h2>

<h3>What are the ingredients?</h3>
<p>VacProtecta is a Homeopathic product. There are no ingredients as such, everything is included homeopathically by our professional homeopath. </p>
<p>We send the round pill version of homeopathic tablets that melt in your dogs mouth. </p>
<p>After product purchase you will be asked to fill in a basic form which allows us to know which Homeopathic preparation to create for your dog individually.  </p>
<p>This is not Thuja, it is tailored specifically to the up-coming vaccine and your pet individually. </p>

<h3>How does Vacprotecta work?</h3>
<p>Vacproteca is aimed at preparing the dog’s body for the vaccine and the vaccine chemistry that will soon enter their body. </p>
<p>Homeopathy works on what is known as an energetic level, it is well-known worldwide to transform peoples health and lives. The UK Royal family, with all the access to health care they have, are huge fans of it! </p>
<p>Vacprotecta is not a nosode, nor is it the homeopathic preparation Thuja. </p>

<h3>Delivery Details</h3>
<p>We post worldwide. 
We aim to have the product with you within a week. If you need it sooner you will be able to liaise with us directly after you purchase. Be aware we recommend giving the product around two weeks prior to a vaccine for best results.</p>

<h3>They grow up so fast.</h3>
<p>Don’t miss a thing. Sign up to receive news and updates.</p>
<input type="email" name="email" id="email" placeholder="Email Address">
<button>Sign Up</button>