---
title: Multi VacProtecta
layout: layouts/base.njk
tags:
    - product
navtitle: Multi VacProtecta
date: 2000-01-02
---
<h2>Multi VacProtecta</h2>
<p>39.00</p>
<p>Suitable for multi dog households of up to three. Use at the time of one vaccination each.</p>
<p>The only pre-vaccination product currently available.</p>
<p>Veterinary Supported.</p>
<p>Created in a Professional Homeopathic Clinic and Laboratory.</p>
<p>Once you have made your purchase it is very important to check your email!</p>
<p>We will have sent you a simple form to return back to us.</p>
<p>Once your form is returned we send the product out to you.</p>
<p>The email will go to your paypal email, check this too!</p>