---
title: Post Vaccine Supporta
layout: layouts/base.njk
tags:
    - product
navtitle: Post Vaccine Supporta
date: 2000-01-03
---
<h2>Post Vaccine Supporta</h2>
<p>70.00</p>
<p>For use with one dog after a vaccine, should Vacprotecta have not been used or Symptoms of possible Vaccinosis are suspected. Includes full consultation with our professional Homeopath to ensure that the product is tailored to your dogs situation.</p>
<p>The only pre-vaccination product currently available.</p>
<p>Veterinary Supported.</p>
<p>Created in a Professional Homeopathic Clinic and Laboratory.</p>
<p>Once you have made your purchase it is very important to check your email!</p>
<p>We will have sent you a simple form to return back to us.</p>
<p>Once your form is returned we send the product out to you.</p>
<p>The email will go to your paypal email, check this too!</p>