---
title: Single VacProtecta
layout: layouts/base.njk
tags:
    - product
navtitle: Single VacProtecta
date: 2000-01-01
---
<h2>Single VacProtecta</h2>
<p>30.00</p>
<p>Suitable for one dog, at the time of one vaccination, including combination vaccines.</p>
<p>The only pre-vaccination product currently available.</p>
<p>Veterinary Supported.</p>
<p>Created in a Professional Homeopathic Clinic and Laboratory.</p>
<p>Once you have made your purchase it is very important to check your email!</p>
<p>We will have sent you a simple form to return back to us.</p>
<p>Once your form is returned we send the product out to you.</p>
<p>The email will go to your paypal email, check this too!</p>